/*
Error: Invalid CSS after "400px": expected expression (e.g. 1px, bold), was ";"
        on line 1 of D:/Program Files/wamp/www/buybag-items/sass/index.sass

1: $height:400px;

Backtrace:
D:/Program Files/wamp/www/buybag-items/sass/index.sass:1
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/scss/parser.rb:1207:in `expected'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/script/lexer.rb:229:in `expected!'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/script/parser.rb:744:in `assert_done'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/script/parser.rb:76:in `parse'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/script/parser.rb:240:in `parse'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/script.rb:27:in `parse'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:1151:in `parse_script'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:757:in `parse_variable'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:642:in `parse_line'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:536:in `build_tree'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:555:in `block in append_children'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:554:in `each'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:554:in `append_children'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:409:in `_to_tree'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
D:/Program Files/Koala/rubygems/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `call'
D:/Program Files/Koala/rubygems/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
D:/Program Files/Koala/bin/compass:18:in `load'
D:/Program Files/Koala/bin/compass:18:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"400px\": expected expression (e.g. 1px, bold), was \";\"\A         on line 1 of D:/Program Files/wamp/www/buybag-items/sass/index.sass\A \A 1: $height:400px;"; }
